@import "tailwindcss";
@import "@heroui/styles";


/* =========================
   LIGHT THEME
========================= */
:root {
  --background: #ffffff;
  --foreground: #0f172b;

  --card: #ffffff;
  --card-foreground: #0f172a;

  --border: #f1f5f9;

  /* --primary: #009689; */
  --primary: #00796B;
  --primary-foreground: #ffffff;

  --secondary: #ccfbf1;
  --secondary-foreground: #134e4a;

  /* Teal Gradient */
  --gradient-from: #f0fdfa;
  --gradient-to: rgb(204 251 241 / 0.5);

  --muted: #f1f5f9;
  --muted-foreground: #64748b;

  --accent: #f59e0b;
  --accent-foreground: #ffffff;

  --hover: #e6fffb;
}


/* =========================
   DARK THEME
========================= */
.dark {
  --background: #0b1120;
  --foreground: #f8fafc;

  --card: #111827;
  --card-foreground: #f8fafc;

  --border: #1e293b;

  --primary: #14b8a6;
  --primary-foreground: #ffffff;

  --secondary: #134e4a;
  --secondary-foreground: #ccfbf1;
  
  --gradient-from: #123b3a;
  --gradient-to: rgb(15 118 110 / 0.25);

  --muted: #1e293b;
  --muted-foreground: #94a3b8;

  --accent: #fbbf24;
  --accent-foreground: #111827;

  --hover: #164e63;
}



@theme inline {

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-border: var(--border);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-gradient-from: var(--gradient-from);
  --color-gradient-to: var(--gradient-to);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-hover: var(--hover);

  --font-sans: var(--font-dm-sans);
  --font-serif: var(--font-dm-serif);

  --font-heading: var(--font-dm-serif);
  --font-body: var(--font-dm-sans);
}


/* =========================
   BASE
========================= */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family: var(--font-body);

  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}


h1,
h2,
h3,
h4,
h5,
h6 {

  font-family: var(--font-heading);

}



/* =========================
   CUSTOM UTILITIES
========================= */

.text-gradient {
  background: linear-gradient(90deg,
      #0d9488,
      #14b8a6);

  -webkit-background-clip: text;
  color: transparent;
}


/* Button hover */
.btn-primary-hover:hover {
  background: #0f766e;
}



/* Card hover */
.card-hover {
  transition: all .3s ease;
}


.card-hover:hover {

  transform: translateY(-5px);

  border-color: var(--primary);

}



/* Smooth animation */
@keyframes hoverBounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }

}